doctype html
html
  head
    title Prata med andra frihets채lskare p책 v책r Slack!
    style.
      body {
        padding: 0px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      input {
        font-size: 18px;
        width: 400px;
      }
  body
    h1= message
    h2= error.status
    pre #{error.stack}
    a(href="#" onclick="window.history.back();") &larr; Tillbaka till formul채ret
