doctype html
html
  head
    title Prata med andra frihetsälskare på vår Slack!
    style.
      body {
        padding: 0px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      input {
        font-size: 18px;
      }
      input.email {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color:#fafafa;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
        width: 400px;
      }
      input.button {
        color: #fff;
        padding: 6px 12px;
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
        background-color: #60b044;
        background-image: -webkit-linear-gradient(#8add6d, #60b044);
        background-image: linear-gradient(#8add6d, #60b044);
        border-color: 1px solid #5ca941;
        border-radius: 3px;
      }
  body
    h1 Prata med andra frihetsälskare på vår Slack!
    form(method="POST", action="/invite")#join-form
      input(type="text", name="email", class="email" placeholder="E-postadress")#slack-email
      input(type="submit", class="button" value="Skicka mig en inbjudan!")
    script.
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email')
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
      });
